



@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.cardcantiner{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.card1border{
    border:  1px solid rgb(227, 225, 225) !important;
    /* width: 25% !important; */
}


.imagesfit{
    height: 160px !important;
    width: 100% !important;
    object-fit: cover;
}

.site-form-in-drawer-wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
    border-top: 1px solid #e9e9e9;
  }


  .program{
    display: flex;
    flex-direction: row !important;
    justify-content: center;        
    
    align-items: center;
  }
  .diplayline{
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
  }       .applicationgrid{ display: grid; grid-template-rows:  43% auto auto;}

.flexrow{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}.flexrow > p{display: flex;align-items: center;  font-size: 12px;margin-bottom: -0.1rem;}
.cardcircle{
  height: 2rem;
  width: 2rem;background-color: #96e8ae;color: rgb(244, 242, 238);
  border-radius: 50%;display: flex;align-items: center;justify-content: center;
}
.cardimages{
  display: grid;
  grid-template-columns: 29% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
}

.applydivbox{
  display: flex;
  flex-direction: row;
  gap: 3px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 2px;
}



.chatcard{
  display: grid !important;  border: 1px solid gray !important;
  grid-template-rows: auto auto auto;
  gap: 2px;
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  padding: 10px;
}
.cardmain  :hover{
   
  border-radius: 10px;
  background-color: #a5c1f3;
 
 }
 .cardmain.clicked {
  border-radius: 10px;
  background-color: #a5c1f3;
}
.chatcard  {
  
 background-color: transparent;

}

.intake{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.application{
  color: #06068b;
  font-weight: 500;
 margin-bottom: 4px;
}
.cardp > p{
  margin-bottom: 6px !important;
}
.intake > p{
  margin-bottom: 4px;
}
.blue{
  color: #3d5ee1;
  margin-bottom: 4px;
}
.boxspan{
  
  /* height: 1.9rem;
  width: 1.9rem; */
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0px 0px 0px;
  border: 1px solid gray;
  
 height: 2.2rem;
  width: 2.2rem; 
}
.boxspa{
  width: 5rem;
  background-color: #3d5ee1;
  font-size: 16px;
display: flex;
align-items: center;
justify-content: center;
  color: #e9e9e9;
}
.card11{
  margin-bottom: 18px;
}
.imagecopa{
  height: 11rem;

  width: auto;
  object-fit: cover;
}
#inlineCheckbox1{
  font-size: 16px;

}
.flagdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flags{
  height: 3rem;
  width: auto;
  object-fit: contain;
}
#inlineCheckbox2{
  font-size: 16px;

}

.sameline{
  display: flex;
  flex-direction: row;
}
.applicard1{
  display: flex;
  margin-top: -0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;border-radius: 0.5rem;
  /* height: 2rem; */
  height: 5.6rem;
  padding: 3px;
  

}
.card11{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.textformat{
  font-size: 2rem !important;
  font-weight: 500;color: #3d5ee1;
}
.bagess {
display: flex;
flex-direction: row;
gap: 8px;
height: auto;
margin-bottom: 0px;


}.bagesdata{font-size: 10px;background-color: #96e8ae;padding: 2px 3px;border-radius: 15px;display: flex;align-items: center;justify-content: center;}

.cardcomponet > p{
  margin-bottom: 0px   !important;
}
.cardcomponet{
  text-align: center;
}
.text-body-secondary{
  font-size: 15px;
  padding: 3px 0px 0px 0px;
} .applcationprogramgrid{
    display: grid;
    grid-template-columns: 2% 28% auto;
    gap: 10px;

  }
  .gridcol{
    display: grid;
    grid-template-columns: 60% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .client{
    padding: 0px;
    margin: 3px !important;
  }


  .addvancesearch{
    /* position: absolute; */
    /* left: 1; */
    /* right: 1; */
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 0px -3.2rem;
    text-decoration: dashed;color: #3d5ee1;
  }
  .column{
    display: flex;
    flex-direction: column;
  }
  .client2{
    text-align: center !important;
  }
  .displaysame{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .fontSize{
    font-size: 13px;
  }
  .lineclass > i {
    font-size: 16px;
    text-align: center;
    
  }
  .card-body1{
    padding: 5px !important;
  }
  .lineclass{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.3rem;
    gap: 5px;
  }
  .manager{
    height: 8rem;
    width: 16rem;
    background-color: #f5f5f5;


    
  }.Applcationscardgrid{
    display: grid;
    grid-template-columns: 18rem auto;
    flex-direction: column;
    background-color: transparent;





    gap: 2rem;

  }
  .studentapplicatoncard{
    height: 35vh;
    width: 20vw;border-radius:0.8rem;
    background-color: #fffffe;
  }

  .buttongroup{
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 10px;

  }
  .buttontabpan {
    height: auto;
    width: 100%;
    padding: 0.3rem; /* Combine both padding declarations into one */
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    font-size: 1rem;
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgb(237, 235, 235);
    color: blue;
    font-weight: 500;
    position: relative; /* Add position: relative; */
  }
  
  .buttonspan {
    height: 2.1rem !important;
    width: 2.1rem;
    margin-left: -3px;
    margin-left: -1.3rem;
    border-radius: 50%;
    z-index: 10 !important;
    position: absolute; /* Add position: absolute; */
  background: linear-gradient(to right, transparent 60%, #dddedc 50%);
  border: none;
  }.buttontabpan span {
    position: relative; /* Ensure the text is above the pseudo-element */
    z-index: 20; /* Higher z-index than .buttonspan */
  }
  .button-container.active .buttontabpan {
    background-color: #245FDF !important;
    color: white;
    box-shadow: 1px 1px 2px 2px rgb(213, 212, 212);
    
  }
  .button-container.active .buttonspan {
    background: linear-gradient(to right, transparent 60%, #DEDCDD 60%);
    
  }
  .button-container.active .buttonspan {
    background: linear-gradient(to right, transparent 60%, white 60%);  

  }
  .btngroup1 > .btn{
    margin-left: 5px;
    margin-right: 5px;display: flex;
    justify-content: center;
    align-items: center;
  }.form-group.local-forms1 {
    margin-bottom: 18px;
}
  .cardstap{
    margin: 10px;
    border:  1px solid rgb(199, 198, 198);
  }
  .carddiv1{
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    /* justify-content: space-between; */

  }
  .manager{
    display: grid;
    grid-template-columns: 36% auto;
    display: flex;gap: 1rem;padding: 3px;
    flex-direction: row;
  }
  .managerdivavthar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;padding: 3px;
    gap: 4px;
  }
  .profileimagemanger{
    height: 2.9rem;
    width: 2.9rem;
    background-color: antiquewhite;
    border-radius: 50%;
    object-fit: cover;

  }

  @media screen and (max-width: 880px) {
    .Applcationscardgrid {
      display: flex;
      flex-direction: column;
    }
  }
  
  .profilebutton{
    height: auto;
    width: fit-content;
    padding: 2px;
    text-align: center;
    font-size: 12px;border-radius: 4px;
    color: white;
    background-color: aqua;
  }

.cardbuild{
  height: 50vh !important;
}
  .pending{
    background-color: gray !important;
  }
  .contentitem{
    display: flex;
    flex-direction: column;
    margin: 1px;
    align-items: center;
    justify-content: center;
  }
  .contentitem > h6 {
    margin-bottom: 1px;
  }
  .contentitem > p {
    margin-bottom: 1px;
  }
  .combo{
    color: rgb(24, 24, 229);
  }
  .lineclass > p {
    margin-bottom: 1px;
  }
  .combo1{
    color: rgb(75, 176, 20);
  }
  .clientnum{
    padding: 0px;
    margin: 3px;
  }