

.adminstudetviewcontainer{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.applicationviewcardgrid {

    display: grid;
    grid-template-columns: 49% 5px 45% auto;
    flex-direction: row;
    background-color: white;
}


.searchbox{
    height: auto;
    width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c3cef;
    border-radius: 50%;
    margin-left: 4px;
    border: none;
    color: white;
}
.appcaltioncard {
padding: 4px !important;
}
.gridsearchinput {
    width: 100%;
     height: 2.2rem;border-radius: 0.6rem;border: none;
    background-color: transparent;outline: none;
    
}
.gridsearchinputt {

    width: 100%;
    background-color: #EBE7E6 !important;
    padding: 2px 5px;
    border: none;

}

.admininputfiled{
    width: 6rem;
    border: none;
    height: 2rem;
    background-color: transparent;
}
.inputfiledwaiting{
    width: 8rem;
}
tr:nth-child(even) {
    background-color:  transparent  !important;
}



.cardnivercitcopmponet{
    height: auto;
    padding: 5px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;align-items: center;justify-content: space-between;

}
.cardnivercitcopmponet{
    display: flex;
    flex-direction: row;
}
.cardunvercityimage{
    height: 3rem !important;


    width: 3rem !important;
    border-radius: 5px;
    background-color: gray;


    
}


.dataline{
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    margin-left: 5px;

}
.containerv{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: gray;
    box-shadow: 1px 1px 1px 1px gray;

}
.dataline > h6 {
    color: #2D4EAD;
}
.dataline > p {font-weight: 600;
    color:   rgb(23, 22, 22);
    margin-bottom: 4px !important;
}
.linecontener{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}


.admindashchatcontainer{   color: white !important;
    height: 1.6rem !important;text-align: center;
    width: 5rem !important;


    background-color: rgb(92, 58, 243)  !important;
    border-radius: 3px;
 
}

tbody, td, tfoot, th, thead, tr {
    border-color: none !important;
    border-style: none !important;
    border-width: 0 !important;
}
.editcontiner{
    width: 1.6rem;
    height: 1.6rem !important;
    text-align: center;text-align: center;
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
    padding: auto;
    color: white;
}
/* .modelboxzindex{
    z-index: 3;

} */
.chatcontaineradmin{color: white;
    width: 3.9rem !important;text-align: center;border-radius: 0.3rem;

    background-color:  #1F58C3 !important;
}
.moreconatiner{
    width: 1.6rem;
    height: 1.6rem !important;
    text-align: center;display: flex;
    background-color: rgb(80, 80, 80);justify-content: center;align-items: center;
    border-radius: 4px;
    /* padding:4px ; */
    color: white;
}




          .ant-table-tbody{
            background-color: white   !important;
          }

          .chatcss {
            width: 5rem;color: white;
            height: 1.8rem !important;font-weight: 500;
            border-radius: 5px;
            text-align: center;
            background-color: #1F58C3 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
        } .linecontener{
            width: 9rem; box-shadow: 0px 0px 0px 0px white !important; background-color: transparent  !;}
          .chatcss:hover{
            border-radius: 5px;text-align: center;
            /* background-color: #1F58C3 !important; */
            background-color: #e7e8e9 !important;
            color: blue;
          }

          .ant-table-tbody>tr>td {
            position: relative;
            padding: 4px 4px !important;
            overflow-wrap: break-word;
        }
       
        .ant-table-thead>tr>th{
            position: relative;
            padding: 4px 4px !important;
            overflow-wrap: break-word;
        }